body{
margin: 0;
padding: 0;
font-family: sans-serif;
background: #34495e;

}

.cad{
width: 400px;
padding: 40px;
position: absolute;
margin: 20px 0px 0px 300px;
transform: translate(-0%,-0%);
background: #191919;
text-align: center;
border-radius: 12px;
}

.cad label{
  color: white;
}

.cad h1{
color:white;
text-transformation: uppercase;
font-weight: 500;
}

.cad h3{
color:white;
text-transformation: uppercase;
font-weight: 100;
}


.cad input[type="text"],.box input[type="password"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
outline:none;
color: white;
border-radius: 24px;
transition: 0.25s;
}
.cad input[type="textbox"] {
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
height: 200px;
outline:none;
color: white;
border-radius: 24px;
transition: 0.25s;
}

.cad input[type="text"]:focus,.box input[type="password"]:focus{
width: 280px;
border-color: #2ecc71;
}

.cad input[type="textbox"]:focus{
width: 300px;
height: 300px;
border-color: #2ecc71;
}

.cad input#hora1, input#hora2{
border: 0;
background: none;
display: block;
margin: 10px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 100px;
outline:none;
color: white;
border-radius: 24px;
transition: 0.25s;
}

.cad input#hora1:focus, input#hora2:focus{
width: 175px;
border-color: #2ecc71;
}

.cad input#price{
border: 0;
background: none;
display: block;
margin: 10px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 100px;
outline:none;
color: white;
border-radius: 24px;
transition: 0.25s;
}

.cad input#price:focus{
width: 150px;
border-color: #2ecc71;
}

.cad input[type="submit"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #2ecc71;
padding: 14px 40px;
outline:none;
color: white;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}

.cad input[type="submit"]:hover{
background: #2ecc71;
}

footer{
color: #fff;
font-size: 10px;
}

a{
  color: #fff;
  text-decoration: none;
}

a.login{
  display: inline-block;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  test-aling: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  width: 50px;
}

a.login:hover{
text-shadow: 1px .5px 1px;
background: #2ecc71;

}

a:hover{
text-decoration: underline;
text-shadow: 1px .5px 1px;

}
