body{
margin: 0;
padding: 0;
font-family: sans-serif;
background: #34495e;

}

.pesq{
width: 500px;
padding: 40px;
position: absolute;
margin: 20px 0px 0px 398px;
transform: translate(-0%,-0%);
background: #191919;
text-align: center;
border-radius: 12px;
color: #fff;
}


.pesq h1{
color:white;
font-weight: 500;

}


.pesq input[type="text"],.box input[type="password"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
outline:none;
color: white;
border-radius: 24px;
transition: 0.25s;
}

.pesq input[type="text"]:focus{
width: 280px;
border-color: #2ecc71;
}

footer{
color: #fff;
font-size: 10px;
}

a{
  color: #fff;
  text-decoration: none;
}

a.pesq-btn{
  display: inline-block;
  border: 0;
  background: none;
  display: block;
  margin: 10px 35%;
  text-align: left;
  border: 2px solid #2ecc71;
  padding: 5px 30px;
  outline:none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  width: 70px;
}

a.pesq-btn:hover{
text-shadow: 1px .5px 1px;
background: #2ecc71;

}

a:hover{
text-decoration: underline;
text-shadow: 1px .5px 1px;
}

i{
    color:white;
}